<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="accountEndpoint" value="https://dotnet-cosmos-sql.documents.azure.com:443/" />
        <add key="accountKey" value="pTT7PnzRAJY3Y3bbyM2JWeKFza6gJVrsQpYWiBNyk8gi10IciG9fjhQOcon23kZ8Yhfh6mgT4QcEc8xaXJB8pA==" />
    </appSettings>
</configuration>